/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  padding-top: 0px;
}

.navbar {
  margin-bottom: 0px;
}

.links-list {
  list-style: none;
  padding-left: 0;
}

.jumbotron {
  padding-top: 10px;
}

.jumbotron h1 {
  margin-bottom: 20px;
}

#map-container { height: 300px;}

#map { height: 300px;}

.carousel-img {
  margin-left: auto;
  margin-right: auto;
}
